{% extends 'base.html.twig' %}

{% block body %}
<h1>Detail question</h1>
<table class="table table-bordered table-striped">
  <thead>
    <td>
      Question
    </td>
    <td>
      Catégorie
    </td>
    <td>
      Difficulté
    </td>
    <td>
      Réponse
    </td>
    <td>
      Actions
    </td>
  </thead>
  <tbody>



      <tr>
        <td>{{ question.label }}</td>
        <td>{{ question.category.name }}</td>
        <td>{{ question.difficulty }}</td>
        <td>Réponses</td>
        <td>

          <a class="btn" href="{{path('question_edit',{'id':question.id})}}">Modifier</a>
          <a class="btn" href="{{path('question_delete',{'id':question.id})}}">Supprimer</a>

        </td>

      </tr>



  </tbody>
</table>

<!-- Afficher les réponses -->
<ul>
  <li>

  </li>
</ul>

{% endblock %}
